/*
  * The contents of this file are subject to the Mozilla Public License
  * Version 1.1 (the "License");  you may not use this file except in compliance
  * with the License.  You may obtain a copy of the License at
  * http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS IS" basis,
  * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
  * the specific language governing rights and limitations under the License.
  *
  * The Original Code is SemanticTurkey.
  *
  * The Initial Developer of the Original Code is University of Roma Tor Vergata.
  * Portions created by University of Roma Tor Vergata are Copyright (C) 2007.
  * All Rights Reserved.
  *
  * SemanticTurkey was developed by the Artificial Intelligence Research Group
  * (art.uniroma2.it) at the University of Roma Tor Vergata (ART)
  * Current information about SemanticTurkey can be obtained at 
  * http://semanticturkey.uniroma2.it
  *
  */
@
namespace url ("http: //www.mozilla.org /keymaster/gatekeeper/there.is.only.xul
	");
	/* define your styles here */
	/* Search field with custom widget and background */     
#searchfield {
	-moz-appearance: none;
	font: icon;
	width: 170px;
	height: 22px;
	border: none !important;
	overflow: auto;
	padding: 4px 12px 0 33px;
	margin-right: 5px;
	margin-left: 5px;
	background: transparent
		url(chrome://semantic-turkey/skin/classic/images/searchicon.png) top
		left no-repeat;
}

#status-bar-annotation {
	list-style-image:
		url("chrome://semantic-turkey/skin/images/highlighter.png");
	cursor: pointer;
}